.banner {
    width: 100%;
}
.light {
    background-color: green;
    width: 20px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
#light1 {
    background-color: blue;
}
#light2 {
    background-color: green;
}
#light3 {
    background-color: yellow;
}
#light4 {
    background-color: orange ;
}
#light5 {
    background-color: red;
}
#light6 {
    background-color: purple;
}
body {
    background-color: black;
}